<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
    <link type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="css/angular-auto-complete/angular-auto-complete.css" rel="stylesheet"/>

    <script type="text/javascript" src="webjars/jquery/3.1.1/jquery.min.js"/>
    <script type="text/javascript" src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"/>
    <script type="text/javascript" src="webjars/angularjs/1.6.9/angular.min.js"/>
    <script type="text/javascript" src="webjars/angularjs/1.6.9/angular-sanitize.min.js"/>
    <script type="text/javascript" src="webjars/lodash/4.17.5/dist/lodash.min.js"/>

    <script type="text/javascript" src="js/angular-auto-complete/angular-auto-complete.js"></script>
    <script type="text/javascript" src="js/todo.app.js"></script>
    <script type="text/javascript" src="js/todo.controller.js"></script>
    <script type="text/javascript" src="js/todo.service.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="cursor: pointer;">Home</a>
            </div>
            <div class="collapse navbar-collapse">
                <!--<ul class="nav navbar-nav">
                    <li><a style="cursor: pointer;">회원가입</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="cursor: pointer;">logout</a></li>
                </ul>-->
            </div>
        </div>
    </nav>
    <h1 layout:fragment="header">Layout</h1>
    <div layout:fragment="content">Some content</div>
</div>
</body>
</html>
